header {
    font-size: 70px;
}

.header-text {
    position: fixed;
}

.top-buffer {
    margin-top: 120px;
}

.title {
    font-size: 120px;
    font-family: Bebas Neue;
    margin-bottom: -40px;
}

.title2 {
    font-size: 120px;
    font-family: Bebas Neue;
}

#body-background {
    background-color: rgb(25,27,30);
    background-image: url(https://uploads-ssl.webflow.com/61d4b50a3b130a78a63644fe/61e57cced52b4c5f7554323e_Header%20Background.png);
}