@font-face {
    font-family: 'Freight';
    src: url(fonts/MADE\ SAONARA\ PERSONAL\ USE.otf);
}

@font-face {
    font-family: Work Sans2;
    src: url(fonts/WorkSans-ExtraLight.otf);
}

@font-face {
    font-family: Grotesk;
    src: url(fonts/RightGrotesk-CompactBlack.otf);
}

@font-face {
    font-family: Flama-bold;
    src: url(fonts/Flama\ Bold.otf);
}

@font-face {
    font-family: Flama-light;
    src: url(fonts/Flama-Light.otf);
}

html {
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    display: none;
}

::selection {
    background: white;
    color: rgb(25,27,30);
}

.top-buffer {
    margin-top: 120px;
}

.title {
    font-size: 30px;
    letter-spacing: 21.12px;
    font-family: Work Sans2;
}

.title2 {
    font-size: 160px;
    line-height: 150px;
    font-family: Freight;
}

.title-recent {
    font-size: 224px;
    line-height: 201.6px;
    letter-spacing: -1px;
    color: rgb(23, 25, 27);
    font-family: Grotesk;
}

.title-work {
    font-size: 190px;
    line-height: 209.6px;
    letter-spacing: -1px;
    color: rgb(23, 25, 27);
    font-family: Freight;
}

.work-text {
    font-size: 69.9994px;
    line-height: 69.9994px;
    vertical-align: baseline;
    color: white;
    font-family: Plain;
}

.card-text {
    font-size: 18px;
    margin-top: 2%;
    vertical-align: baseline;
    letter-spacing: 0.36px;
}

#body-background {
    background-color: black;
    background-image: url(https://uploads-ssl.webflow.com/61d4b50a3b130a78a63644fe/61e57cced52b4c5f7554323e_Header%20Background.png);
}