@font-face {
    font-family: 'Freight';
    src: url(fonts/MADE\ SAONARA\ PERSONAL\ USE.otf);
}

@font-face {
    font-family: Work Sans2;
    src: url(fonts/WorkSans-ExtraLight.otf);
}

@font-face {
    font-family: Grotesk;
    src: url(fonts/RightGrotesk-CompactBlack.otf);
}

@font-face {
    font-family: Flama-bold;
    src: url(fonts/Flama\ Bold.otf);
}

@font-face {
    font-family: Flama-light;
    src: url(fonts/Flama-Light.otf);
}

@font-face {
    font-family: Flama;
    src: url(fonts/Flama\ Regular.otf);
}

@font-face {
    font-family: Plain;
    src: url(fonts/Plain-Bold.ttf);
}


html {
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    display: none;
}

::selection {
    background: white;
    color: rgb(25,27,30);
}

.top-buffer {
    margin-top: 120px;
}

a {
    text-decoration: none;
}

.ahover2 {
    position: relative;
    text-decoration: none;
}

.ahover2:hover {
    color: white;
}
  
.ahover2::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    border-radius: 4px;
    background-color: #ffffff;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}
  
.ahover2:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

.title {
    font-size: 30px;
    letter-spacing: 21.12px;
    font-family: Work Sans2;
}

.title2 {
    font-size: 160px;
    line-height: 150px;
    font-family: Freight;
}

.title-recent {
    font-size: 224px;
    line-height: 201.6px;
    letter-spacing: -1px;
    color: rgb(23, 25, 27);
    font-family: Grotesk;
}

.title-work {
    font-size: 190px;
    line-height: 209.6px;
    letter-spacing: -1px;
    color: rgb(23, 25, 27);
    font-family: Freight;
}

.work-text {
    font-size: 69.9994px;
    line-height: 69.9994px;
    vertical-align: baseline;
    color: white;
    font-family: Plain;
}

.card-text {
    font-size: 18px;
    margin-top: 2%;
    vertical-align: baseline;
    letter-spacing: 0.36px;
}

/* Work hover transition */
.card1:hover .img2 {
    opacity: 0.2;
  }

.card1:hover .text {
    opacity: 1;
}

.text {
    opacity: 0;
    color: white;
    font-family: Flama;
    font-size: 15px;
    transition: 0.3s ease;
}

.img2 {
    opacity: 1;
    transition: 0.4s ease;
}


.learnmore-text {
    color: black;
    font-family: Flama-bold;
    font-size: 22px;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

.aboutme-text {
    color: white;
    font-family: Plain;
    font-size: 100px;
    transition: 0.3s ease;
}

.aboutme-text:hover {
    color: black;
    font-family: Plain;
    font-size: 100px;
    text-shadow: -1px -1px 0 rgb(255, 255, 255), 1px -1px 0 rgb(255, 255, 255), -1px 1px 0 rgb(255, 255, 255), 1px 1px 0 rgb(255, 255, 255);
    transition: 0.3s ease;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  #cookiePopup {
    position: fixed;
    bottom: 2em;
    right: 2em;
    background-color: #ffffff;
    color: black !important;
    font-size: 14px;
    width: 300px;
    padding: 20px;
    box-shadow: 0 0 2em rgba(5, 0, 31, 0.15);
    font-family: "Poppins", sans-serif;
    text-align: justify;
    border-radius: 6px;
    visibility: visible; /* Standaard weergave: zichtbaar */
    z-index: 1000;
}
  
  #cookiePopup img {
    display: block;
    width: 50px;
    margin: 0 auto;
  }
  
  #cookiePopup p {
    text-align: center;
    margin-top: 1.4em;
  }
  
  .accept {
    background-color: #6859fe;
    border: none;
    color: #ffffff;
    font-size: 1.2em;
    padding: 1em 1.4em;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
  }
  
    .decline-button {
        background-color: transparent;
        color: #6859fe !important; /* Geef de tekst dezelfde paarse kleur */
        cursor: pointer;
        font-size: 14px;
        margin-left: 10px; /* Voeg wat ruimte toe tussen de knoppen */
        border: none !important; /* Verwijder de border */
    }

    .button-container {
        display: flex; /* Plaats de knoppen naast elkaar */
        align-items: center; /* Centreer de knoppen verticaal in hun container */
        margin-top: 10px; /* Voeg wat ruimte toe tussen de knoppen */
    }

  #cookiePopup a {
    color: #6859fe;
  }
  .hide {
    visibility: hidden;
    bottom: 0;
    right: 2em;
  }
  .show {
    visibility: visible;
    bottom: 2em;
    right: 2em;
  }
  @media only screen and (max-width: 37.5em) {
    #cookiePopup {
      width: 100%;
    }
    .hide {
      bottom: 2em;
      right: 0;
    }
    .show {
      right: 0;
      bottom: 0;
    }
  }

#body-background {
    background-color: black;
    background-image: url(https://uploads-ssl.webflow.com/61d4b50a3b130a78a63644fe/61e57cced52b4c5f7554323e_Header%20Background.png);
}