@font-face {
    font-family: Grotesk;
    src: url(fonts/RightGrotesk-CompactBlack.otf);
}

@font-face {
    font-family: Plain;
    src: url(fonts/Plain-Bold.ttf);
}

body::-webkit-scrollbar {
    display: none;
}

::selection {
    background: white;
    color: rgb(25,27,30);
}

#body-background {
    background-color: black;
}

.top-buffer {
    margin-top: 5%;
}


.header-text {
    font-size: 69.9994px;
    line-height: 69.9994px;
    vertical-align: baseline;
    color: white;
    font-family: Plain;
}